#ignorar Doc

ProyectoMYS1Final\bin\Debug\finla\*
ProyectoMYS1Final\bin\Debug\*.dll
ProyectoMYS1Final\bin\Debug\*.exe

.vs/ProyectoMYS1Final/v15/Server/sqlite3/storage.ide-shm
.vs/ProyectoMYS1Final/v15/Server/sqlite3/storage.ide
.vs/ProyectoMYS1Final/v15/Server/sqlite3/storage.ide-shm
.vs/ProyectoMYS1Final/v15/Server/sqlite3/storage.ide
